{% extends "base.html" %}
{% block title %}История заказов{% endblock %}

{% block content %}
<h2 class="mb-4">Моя история заказов</h2>

{% if orders %}
    <div class="list-group">
        {% for order in orders %}
            <div class="list-group-item mb-3 shadow-sm rounded">
                <div class="d-flex justify-content-between">
                    <div>
                        <strong>Заказ №{{ order.order_number }}</strong><br>
                        Аптека: {{ order.pharmacy.name }}<br>
                        Дата: {{ order.created_at|date:"d.m.Y H:i" }}<br>
                        Статус: <span class="badge bg-info">{{ order.get_status_display }}</span>
                    </div>
                    <div>
                        <strong>{{ order.total_price }} ₽</strong>
                    </div>
                </div>
                <hr>
                <ul>
                    {% for item in order.items.all %}
                        <li>{{ item.pharmacy_medicine.medicine.name }} — {{ item.quantity }} шт. × {{ item.price_at_purchase }} ₽</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>У вас пока нет заказов.</p>
{% endif %}
{% endblock %}
